# MQTT
MQTT_HOST=yourhost.com
MQTT_PORT=1883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password

# Device
DEVICE_ID=your_device_id
DEVICE_NAME=your_device_name
DEVICE_IP=your_device_ip
DEVICE_TOKEN=your_device_token

# You can leave this unchanged.
MQTT_TOPIC_PREFIX=saymi
MQTT_TOPIC_SETPOWER=cmnd/set_power
MQTT_TOPIC_SETMODE=cmnd/set_mode
MQTT_TOPIC_GETMODES=cmnd/get_modes
MQTT_TOPIC_GETDATA=cmnd/get_data
MQTT_TOPIC_STAT=stat
MQTT_TOPIC_TELE=tele